*{
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
}
body{
    letter-spacing: 1px;
    /* background-color: #ffe960; */
    background-color: #fdb833;
    /* color: #3a86ff; */
    color: #296eb4;
    font-family: 'Oswald', sans-serif;
}
.navigation{
    z-index: 10;
}
.navigation ul li{
    list-style-type: none;
}

.navigation ul li a{
    color: #103848;
    font: inherit;
    padding: 1em;
    position: relative;
}

.navigation ul li a::after{
    content: '';
    width: 90%;
    height: 2px;
    position: absolute;
    bottom: 12px;
    left : 5%;
    transform: scaleX(0);
    background-color: #fdb833;
    
}

.navigation ul li a:hover::after{

    transform: scaleX(1);
    transition: 0.3s ease-in-out;
}

.navigation ul li a:hover{

    color: #fdb833;
}

/* .navigation ul li :hover{

    /* background-color: #3a86ff; */
    /* background-color: #296eb4; */
    /* color: #103848; */
    /* box-shadow: 2px 2px 5px #ffe960; */
    /* background-color: #fdb833;
    text-decoration: underline;
    border-radius: 10px;
    transition: 0.2s; */
/* } */ 

.college_name{
    display: inline-block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1.5em;
}

.college_logo_name{
    display: flex;
    align-items: center;
    margin: 2px;
}
.top{
    margin-top: 85px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    font-size: 1.3em;
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.social a{
    text-decoration: none;
    color: #103848;
}

.social a:hover{
    /* color: cornflowerblue; */
    color: #296eb4;
    transition: 0.5s;
}

.navigation ul{
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    margin : 21px;
    /* position: fixed; */
}

.navigation{

    background-color: #296eb4;
    width: 100%;
    position: fixed;
    top:0;

}

.directormessage{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
    margin : auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border-top: 2px solid #081327;
    border-bottom: 2px solid #081327;

}

.message{
    margin-left: 5px;
}

.message h3{
    transform: translateY(-9px);
}
.message_text{
    transform: translateY(6px);
}
.directormessage a{
    text-decoration: none;
    color: #0b1c3b;
}
.directormessage a :hover{
    /* color: #3a86ff; */
    color: #296eb4;
    transition: 0.2s;
}

.headings{
    color: #0b1c3b;
}

.aim{
    display: flex;
    justify-content: space-between;
    background-image: url(https://mitsgwalior.in/front/6.jpg);
    padding : 20px;
    color: #ffe960;
    border-radius: 67px;
    /* background-color: #296eb4; */
}
.aim:hover{
    background-image: none;
    /* opacity: 0; */
    /* animation: fadeout 2s; */
    background-color: #296eb4;
    transition: 0.8s;
    
}
.vision{
    width:30%;
}
.mission{
    width:30%;
    
}
.branding{
    width:30%;
    
}
section div h3{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

footer {
    background-color: #fdb833;
    color: #296eb4;
    font-size: 20px;
    font-family: Oswald, sans-serif;
    text-decoration: none;
    margin:30px;
    border-top: 2px solid #296eb4 ;
  }
  
  #container {
    height: 300px;
    width: 1255px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  #container #firstrow {
    border-right: #296eb4;
    border-right-width: 2px;
    border-right-style: solid;
    padding-right: 120px;
    margin-left: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #container #secondrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
  }
  
  #container a {
    border-bottom: #296eb4;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    padding: 1px;
  }
  #container a:hover {
    border-bottom: crimson;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    padding: 1px;
  }
  
  .shubhi_a {
    text-decoration: none;
  
    color: #296eb4;
    transition: linear 0.1s;
  }
  .shubhi_a:hover {
    color: crimson;
    font-size: 1.25em;
  }
  
  #gallery1 {
    height: 250px;
    width: 1200px;
    background-color: #fdb833;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  #gallery1 div img {
    margin-left: -100px;
    height: 200px;
    width: 200px;
    position: absolute;
    border: #296eb4;
    border-style: solid;
    border-width: 4px;
  }
  
  #gallery1 div img:hover {
    width: 225px;
    height: 225px;
    transition: linear 0.25s;
    border: crimson;
    border-style: solid;
    border-width: 4px;
  }
  
  #gallery2 {
    height: 250px;
    width: 1200px;
    background-color: #fdb833;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  #gallery2 div img {
    margin-left: -100px;
    height: 200px;
    width: 200px;
    transition: linear 0.25s;
    position: absolute;
    border: #296eb4;
    border-style: solid;
    border-width: 4px;
  }
  
  #gallery2 img:hover {
    width: 225px;
    height: 225px;
    border: crimson;
    border-style: solid;
    border-width: 4px;
  }
  
  #gallery3 {
    margin-left: -100px;
    height: 250px;
    width: 1200px;
    background-color: #fdb833;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #gallery3 div img {
    height: 200px;
    width: 200px;
    transition: all linear 0.25s;
    position: absolute;
    border: #296eb4;
    border-style: solid;
    border-width: 4px;
  }
  
  #gallery3 img:hover {
    width: 225px;
    height: 225px;
    border: crimson;
    border-style: solid;
    border-width: 4px;
  }
  
  h2 {
    display: inline;
    margin-bottom: 80px;
    font-size: 40px;
    border-bottom: #296eb4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 1px;
  }

  .update{
    color:#296EB4;
    border-color: black;
    border-width: 5px;
    font-size:45px;
    font-family:'Rockwell',Serif;
    text-align: center;
    display: inline-flexbox;
    letter-spacing: 2px;
    border-style: double;
}

button:hover{
    color:crimson;
    border-width: 5px;
    border-color:white;
    font-size:4rem;
    border-style: dotted;
    font-family:'Bodoni MT',serif
}

button{
    transition:linear 0.1s;
}

section.link{
    width:20%;
    margin: auto;
    margin-top: 30px;
    line-height: 1.7;
    padding: 10px;
}
